# Dependencias y temporales
node_modules/
scratch/
vendor/
*.tmp
~$*
ffmpeg.exe
dist_floracampo*

# Base de datos local
database/sqlite_*.db
database/esefjl.db

# Configuración sensible
# app/config/config.php (Removed from ignore to allow Render deployment)
app/config/env.php
.env

# Logs y Cache
*.log
.DS_Store
